<head>
  <meta charset="utf-8">
  <title><%= page %> | Node.js Multi-Page Site Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
