<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <%- include ('./partials/navbar') -%>
    <main>
      <h1>404: Page not found</h1>
      <h2>
        <a href="/" target="_self">Back to Home</a>
      </h2>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
