<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <%- include ('./partials/navbar') -%>
    <main>
      <h1><%= page %></h1>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
