html,
body,
nav,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-size: 0.9rem;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
