/* BASE PAGE STYLES */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: transparent;
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
}

body {
  background: hsl(0, 0%, 90%);
  background: -webkit-gradient(linear, left top, right top, from(hsl(0, 0%, 90%)), to(hsl(0, 0%, 95%))) fixed;
  background: -o-linear-gradient(left, hsl(0, 0%, 90%), hsl(0, 0%, 95%)) fixed;
  background: linear-gradient(to right, hsl(0, 0%, 90%), hsl(0, 0%, 95%)) fixed;
  color: hsl(0, 0%, 20%);
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  padding: 0 20px;
  position: relative;
}

main {
  padding: 40px 0 6rem;
}

footer {
  background: hsl(0, 0%, 100%);
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #006f8e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

/* Navbar styles */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 15px;
}

nav a,
nav a:visited,
nav a:hover,
nav a:active,
nav a:focus {
  border-bottom: 1px solid #006f8e;
  font-size: 0.8rem;
  margin: 0 6px;
  padding: 8px;
  text-transform: uppercase;
}

nav a:hover {
  background: hsl(0, 0%, 100%);
  text-decoration: none;
}